# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install (DEMO GITHUB ACTIONS)
      run: npm install
  
  automerge:
    name: Merge Pull Request
    runs-on: [ubuntu-latest]
    needs: [build]
      if: github.base_ref == 'master'
      steps:
        - name: Merge
          uses: actions/github-script@0.2.0
          with:
            script: |
              github.pullRequests.merge({
                owner: context.payload.repository.owner.login,
                repo: context.payload.repository.name,
                pull_number: context.payload.pull_request.number
              })
            github-token: ${(github.token)}